body {
    margin: 0 auto;
}

.navbar {
    padding: 20px 0;
    border-bottom: 3px solid #EAC67A;
}

.top-header {
    background: #ffffff url(images/background.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    border-bottom: 3px solid #EAC67A;

}
.welcome-text {
    width: 100%;
    height: 90vh;
}
.text-center h1 {
    letter-spacing: 6px;
    font-size: 50px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #EAC67A;
    text-shadow: 2px 2px #3A3030;
}
.main-container {
    background-color: #fefefe;
    padding-bottom: 30px;
    border-bottom: 3px solid #EAC67A;
}
.project-container {
    text-align: center;
}
.see-project img {
    max-height: 250px;
    border-radius: 10px;
    cursor: hand;
}
.project-dsc {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding: 10px 0;
}
.project-tech {
    background-color: #F5F5F5;
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}
.experience-section {
    background-color: #fefefe;
    /*border-bottom: 3px solid #EAC67A;*/
}
.experience-item {
    padding: 20px 0;
}
.experience {
    max-height: 100px;
    margin-bottom: 10px;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

img.autor {
    max-width: 100%;
    width: 190px;
    vertical-align: middle;
    border-radius: 100%;
    margin: 10px 0;
    clear: both;
}
h2 {
    color: #383838;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 5%;
    text-align: left;
}

h3 {
    color: #0C4C7D;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #3E3E3E;
    font-family: 'Varela Round', sans-serif;
}
footer {
    background-color: #1E98AA;
    padding: 20px;
    border-top: 3px solid #EAC67A;
}
.contact-icons {
    display: table;
    position: relative;
    z-index: 5;
}
.contact-icon-list {
    width: 178px;
    height: 42px;
}
.contact-icon-element {
    border: 2px solid #EAC67A;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
    position: relative;
}
.contact-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.copyright {
    color: #EAC67A;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}