body {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #122b40;
}
.navbar {
    border-radius: 0;
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: 3px solid #EAC67A;
    /*background-color: #1E98AA;*/
}

.navbar-default .navbar-brand {
    color: #3A3030;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav>li>a {
    color: #3A3030;
    font-family: 'Oswald', sans-serif;
}
.navbar-default .navbar-toggle {
    border-color: #3A3030;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3A3030;
}
.welcome-text {
    background: #ffffff url(images/background.png) top center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-height: 300px;
}
.text-center h1 {
    vertical-align: middle;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #EAC67A;
    text-shadow: 2px 2px #3A3030;
}
.main-container {
    background-color: #CDD5D1;
    margin: 0 auto;
    padding-bottom: 30px;
}
.project-container {
    display: inline;
    text-align: center;
}
.see-project img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    cursor: hand;
}
.experience-section {
    background-color: #CDD5D1;
    padding: 0 30%;
}
.experience {
    height: 80px;
    margin-bottom: 10px;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
#o-mnie {
    background-image: url("images/abstract.jpg");
    background-size: cover;
    text-align: center;
    display: inline-block;
}
#o-mnie p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
img.autor {
    max-width: 100%;
    width: 190px;
    vertical-align: middle;
    border-radius: 100%;
    margin: 0 auto;
    clear: both;
}
h2 {
    color: #383838;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 5%;
    text-align: left;
}

h3 {
    color: #0C4C7D;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #3E3E3E;
    font-family: 'Varela Round', sans-serif;
}
footer {
    background-color: #1E98AA;
    padding: 20px;
    border-top: 3px solid #EAC67A;
}
.contact-icons {
    display: table;
    position: relative;
    z-index: 5;
}
.contact-icon-list {
    width: 178px;
    height: 42px;
}
.contact-icon-element {
    border: 2px solid #EAC67A;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
    position: relative;
}
.contact-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.copyright {
    color: #EAC67A;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}