* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    width: 75%;
    margin: 0 auto;
}
/*Header*/
header {
    background-color: #1E98AA;
    border-bottom: 3px solid #EAC67A;
    padding-top: 5px;
}
h1 {
    color: #3A3030;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

}

.job-title {
    color: #3E3E3E;
    text-align: center;
    line-height: 0;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.7%;
}

li .navigator:last-of-type {
    margin-right: 0;
}

.navigator a {
    color: #FF69B4;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
}

.slogan p {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px #1E98AA;
    color: #EAC67A;
    text-align: center;
    margin: 2px auto;
}
.experience {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #E9EBEE;
}

.exp-chart {
    text-align: center;
}

.chart {
    width: 50px;
    height: 50px;
}
.exp-chart p {
    font-family: Oswald, sans-serif;
    color: #565656;
}
/*End of header*/

/*Main*/

.main-container {
    background-color: #CDD5D1;
    margin: 20px 0;
    height: 100%;
}

#projekty {
    padding-left: 10px;
    width: 66.6666%;
    float: left;
    height: 100%;
}
.project-container:last-of-type {
    padding-bottom: 8px;
}

.see-project {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

#o-mnie {
    background-image: url("images/abstract.jpg");
    text-align: center;
    padding: 0 2%;
    width: 33.3333%;
    display: inline-block;
}

img.autor {
    max-width: 100%;
    width: 190px;
    vertical-align: middle;
    border-radius: 100%;
    margin: 0 auto;
    clear: both;
}

h2 {
    color: #383838;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h3 {
    color: #0C4C7D;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #3E3E3E;
    font-family: 'Varela Round', sans-serif;
}
/*End of main*/

/*Footer*/
footer {
    background-color: #1E98AA;
    padding: 20px;
    margin-top: 20px;
    border-top: 3px solid #EAC67A;
}
.copyright {
    color: #EAC67A;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}

.contact-icons {
    display: table;
    position: relative;
    z-index: 5;

}
.contact-icon-list {
    width: 178px;
    height: 42px;
    display: table-cell;
}

.contact-icon {
    width: 22px;
    height: 22px;
    vertical-align: top;
}

.contact-icon-element {
    border: 2px solid #EAC67A;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
}
/*End of footer*/

@media (max-width: 768px) {
    #o-mnie, #projekty {
        width: 100%;
    }
    img.autor {
        max-width: 100%;
    }
     li.navigator {
         display: block;
         margin: 10% 0;
     }
}
@media (min-width: 1200px) {
    body {
        max-width: 900px;
    }
}
@media (max-width: 576px) {
    body {
        min-width: 425px;
    }
}