/** {*/
    /*box-sizing: border-box;*/
/*}*/
body {
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}
/*Header*/
header {
    background: url("images/background.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#top {
    position: relative;
    height: 50px;
    width: 100%;
    z-index: 1;
}
.menu
{
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav li {
    display: inline;
    color: #222222;
    cursor: pointer;
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
}
nav li a {
    color: inherit;
    text-decoration: none;
}
nav li:last-of-type {
    padding-right: 30px;
}
nav li:hover {
    color: #0C4C7D;
}
.menu-short, .menu-short a {
    background-color: #E9EBEE;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px;
    position: relative;
}
.menu-short span {
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 1px;
    background-color: #222222;
    margin-bottom:5px;
    margin-top:5px;
    padding: 0 5px;
}
.checkbox-menu {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

input.checkbox-menu {
    opacity: 0;
}

.menu-short-collapse {
    position: fixed;
    right: -160px;
    top: 80px;
    width: 160px;
    color: #E9EBEE;
    background-color: #222222;
    transition: right 2s;
    -webkit-transition: right 2s;
    padding-bottom: 10px;
    opacity: 0.9;
}

span.menu-short-list {
    padding: 10px 0 10px 25px;
    border-bottom: 4px solid #EAC67A;
}

span.menu-short-list a {
    color: #E9EBEE;
    background: #222222;
}

span.menu-short-list a:hover {
    color: #EAC67A;
    background-color: #222222;
}
.menu-short input:checked~.menu-short-collapse {
    right: 0;
}
h1 {
    color: #3A3030;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

}


.job-title {
    color: #3E3E3E;
    text-align: center;
    line-height: 0;
}
.experience {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #E9EBEE;
}

.exp-chart {
    text-align: center;
}

.chart {
    width: 50px;
    height: 50px;
}
.exp-chart p {
    font-family: Oswald, sans-serif;
    color: #565656;
}
/*End of header*/

/*Main*/
main {
    padding: 0 20px;
}

.flex-container-center {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.project-container {
    width: 315px;
}
.project-container img{
    display: block;
    height: 200px;
    width: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 5%;
    vertical-align: bottom;
}

img.autor {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 5px;
    border-radius: 100%;
}

h2 {
    color: #383838;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h3 {
    color: #0C4C7D;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #3E3E3E;
    font-family: 'Varela Round', sans-serif;
}
/*End of main*/

/*Footer*/
footer {
    background-color: #1E98AA;
    padding: 20px;
    margin-top: 20px;
    border-top: 3px solid #EAC67A;
}
.copyright {
    color: #EAC67A;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}

.contact-icons {
    display: table;
    position: relative;
    z-index: 5;

}
.contact-icon-list {
    width: 178px;
    height: 42px;
    display: table-cell;
}

.contact-icon {
    width: 22px;
    height: 22px;
    vertical-align: top;
}

.contact-icon-element {
    border: 2px solid #EAC67A;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
}
/*End of footer*/

/*@media (max-width: 768px) {*/
    /*#o-mnie, #projekty {*/
        /*width: 100%;*/
    /*}*/
    /*img.autor {*/
        /*max-width: 100%;*/
    /*}*/
     /*li.navigator {*/
         /*display: block;*/
         /*margin: 10% 0;*/
     /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*!*header {*!*/
        /*!*max-width: 900px;*!*/
    /*!*}*!*/
/*}*/
@media (min-width: 576px) {
    /*body {*/
        /*min-width: 425px;*/
    /*}*/
    .menu ul {
        display: block;
    }
    .menu-short {
        display: none;
    }
}